html,
body {
  background-color: #434746;
  /* height: 100%; */
  color: white;
}

#knob1 {
  position: absolute;
  left: 30px;
  top: 70px;
}

#knob2 {
  position: absolute;
  left: 120px;
  top: 70px;
}

#knob3 {
  position: absolute;
  left: 210px;
  top: 70px;
}

#knob4 {
  position: absolute;
  left: 300px;
  top: 70px;
}

#knob5 {
  position: absolute;
  left: 390px;
  top: 70px;
}

#knob6 {
  position: absolute;
  left: 480px;
  top: 70px;
}

#knob7 {
  position: absolute;
  left: 570px;
  top: 70px;
}

#knob8 {
  position: absolute;
  left: 30px;
  top: 300px;
}

#knob9 {
  position: absolute;
  left: 120px;
  top: 300px;
}

#knob10 {
  position: absolute;
  left: 210px;
  top: 300px;
}

#knob11 {
  position: absolute;
  left: 300px;
  top: 300px;
}

#knob12 {
  position: absolute;
  left: 390px;
  top: 300px;
}

#knob13 {
  position: absolute;
  left: 480px;
  top: 300px;
}

#knob14 {
  position: absolute;
  left: 570px;
  top: 300px;
}
